generaldock/n8n-workflows/gmail-daily-digest.json
{
  "name": "gmail-daily-digest",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "=0 17 * * *"
            }
          ]
        }
      },
      "id": "8b716a9c-2d9b-4d9b-82c4-6b5e6fc1fdb5",
      "name": "Every day at 17:00",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        208,
        -80
      ]
    },
    {
      "parameters": {
        "operation": "getAll",
        "returnAll": true,
        "filters": {
          "q": "in:inbox newer_than:1d"
        }
      },
      "id": "71734eb3-7302-47ea-aecf-99eb1e917a12",
      "name": "Get Today's Emails",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2,
      "position": [
        400,
        -80
      ],
      "webhookId": "YOUR_WEBHOOK_ID",
      "credentials": {
        "gmailOAuth2": {
          "id": "YOUR_GMAIL_CREDENTIAL_ID",
          "name": "Gmail account"
        }
      },
      "notes": "Reconnect your Gmail credential after import."
    },
    {
      "parameters": {
        "jsCode": "const emails = $input.all();\n\nif (emails.length === 0) {\n  return [{ json: { digest: 'No emails received today.', count: 0 } }];\n}\n\nconst block = emails.map((item, i) => {\n  const body = item.json.snippet || '';\n  return `--- Email ${i + 1} ---\\nFrom: ${item.json.From}\\nSubject: ${item.json.Subject}\\n\\n${body}`;\n}).join('\\n\\n');\n\nreturn [{ json: { digest: block, count: emails.length } }];"
      },
      "id": "9c8d8627-56b8-4662-9b76-8868226f847e",
      "name": "Aggregate Emails",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        800,
        -80
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "YOUR_NTFY_URL/YOUR_TOPIC",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Title",
              "value": "=Daily email digest: {{ $('Aggregate Emails').item.json.count }} emails"
            },
            {
              "name": "Priority",
              "value": "3"
            }
          ]
        },
        "sendBody": true,
        "contentType": "raw",
        "rawContentType": "text/plain",
        "body": "={{ $json.message.content }}",
        "options": {}
      },
      "id": "cec21ab1-a9b4-40a6-aae5-bd5ea70c06c4",
      "name": "Send ntfy Notification",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1536,
        -96
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "YOUR_NTFY_URL/YOUR_TOPIC",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Title",
              "value": "=ERROR in Ollama node."
            },
            {
              "name": "Priority",
              "value": "4"
            }
          ]
        },
        "sendBody": true,
        "contentType": "raw",
        "rawContentType": "text/plain",
        "body": "={{ $json.error.message }}",
        "options": {}
      },
      "id": "4a8f7d8f-0bd5-4906-aebf-910488f098b4",
      "name": "Send ntfy Notification1",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1536,
        80
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://YOUR_OLLAMA_HOST:11434/api/chat",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ $json }}",
        "options": {
          "timeout": 1200000
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        1216,
        -80
      ],
      "id": "85a3487c-3bf8-473f-91de-3a3db7f4563e",
      "name": "HTTP Request",
      "retryOnFail": false,
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "const count = $json.count;\nconst digest = $json.digest;\n\nconst prompt = `You are my personal email assistant. at the end of this message are all emails I received today (${count} total).\n\nAt the top of your output, LIST any IMPORTANT emails - ones requiring action, with deadlines, or from important senders. List explicitly what action it needs and summarize the content in 1 - 2 sentences. Below that list every mail and also summarize those in 1 - 2 sentences. Don't bold the text. Use the following architecture EXAMPLE for your entire output:\n(\nIMPORTANT EMAILS\n\n- Email from [sender]: [summarization]\n\n- Email from [sender]: [summarization]\n\n[And do so for every mail you think would be important]\n\nALL MAILS\n\n- Email from [sender]: [summarization]\n\n- Email from [sender]: [summarization]\n\n[and so on, for ALL emails]\n)\n\nHere are the emails you need summarize:\n\n${digest}`;\n\nreturn {\n  json: {\n    model: \"llama3.2:latest\",\n    stream: false,\n    messages: [{ role: \"user\", content: prompt }]\n  }\n};"
      },
      "id": "befd9a24-fb02-4ba9-97ca-a0ee7e2995f6",
      "name": "Simplify for request",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1008,
        -80
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "cc7193be-af9d-46cc-bef3-608476f1753b",
              "leftValue": "={{ $json.Subject }}",
              "rightValue": "=Submission received",
              "operator": {
                "type": "string",
                "operation": "notContains"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2.3,
      "position": [
        592,
        -80
      ],
      "id": "43cfa213-ef81-4af9-9c90-01648489feec",
      "name": "Filter Submissions"
    }
  ],
  "pinData": {},
  "connections": {
    "Every day at 17:00": {
      "main": [
        [
          {
            "node": "Get Today's Emails",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Today's Emails": {
      "main": [
        [
          {
            "node": "Filter Submissions",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate Emails": {
      "main": [
        [
          {
            "node": "Simplify for request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Send ntfy Notification",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Send ntfy Notification1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Simplify for request": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter Submissions": {
      "main": [
        [
          {
            "node": "Aggregate Emails",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false,
    "timeSavedMode": "fixed",
    "timezone": "Europe/Amsterdam",
    "callerPolicy": "workflowsFromSameOwner"
  },
  "versionId": "ffb22525-dc9c-47f5-8fc0-1b564ba6ff63",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "YOUR_INSTANCE_ID"
  },
  "id": "YOUR_WORKFLOW_ID",
  "tags": []
}
